/*** GENERAL ***/
h1{
    color: #254567;
    text-align: right;
    margin-right: 6.6%;
}


/*** HEADER ***/

header{
	background-color: #476f9a;
	height: 80px;
	width: 100%;
}

header div#logo_container{
	width : 80px;
    height: 80px;
    background-color: #254567;
    background-image: url(../imgs/logos/helmet.png);
    background-repeat: no-repeat;
    background-position: 27px 20px;
    float: left;
}

header div#right_text{
    height: 80px;
    float: right;
    width: calc(100% - 80px);
}

/*** ASIDE ***/

aside{
	background-color: #29343a;
    width: 80px;
    height: 100vh;
    float: left;
}

aside .aside_button{
    width: 80px;
    height: 80px;
    cursor: pointer;
    position: relative;
}

aside #add_character.aside_button,
aside #add_character.aside_button .line_bar{
    margin-top: 80px;
    background-color: #5f7986;    
}
aside #list_character.aside_button,
aside #list_character.aside_button .line_bar{
    background-color: #95bdd3;
}
aside #view_profile.aside_button,
aside #view_profile.aside_button .line_bar{
    background-color: #224253;
}
aside #exit_profile.aside_button,
aside #exit_profile.aside_button .line_bar{
    background-color: #376a86;
}

aside .line_bar {
    margin-top: 0px;
    position: absolute;
    width: 5px;
    height: 0px;
    bottom: 0px;
    right: -10px;
    -moz-transition: height 0.6s ease;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
}

aside .aside_button:hover .line_bar{
    height: 80px;
}

aside .aside_button.selected .line_bar{
    height: 80px;
}

/*** MAIN CONTENT ***/

body{
    display: flex;
    flex-wrap: wrap;
}

div#main_content{
    float: left;
    display: flex;
    width: 80%;
    margin: 80px auto;
    background-color: #ccd9e0;
    border-radius: 3px;
    padding: 30px
}

div#main_content .centeres_content{
    width: 100%;
}

/*** FORM ***/
form button#submit_form{
    float:right;
}



