
/*** HEADER ***/

header{
	background-color: #476f9a;
	height: 80px;
	width: 100%;
}

header div#logo_container{
	width : 80px;
    height: 80px;
    background-color: #254567;
    background-image: url(../imgs/logos/helmet.png);
    background-repeat: no-repeat;
    background-position: 27px 20px;
}


/*** ASIDE ***/

aside{
	background-color: #29343a;
    width: 80px;
    height: 100vh;
    float: left;
}

/*** MAIN CONTENT ***/

div#main_content{
	float:left;
}





